<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sortingvisualizer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.SortingVisualizer">
        <activity
            android:name=".ui.splashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".insertion_sort_code"
            android:exported="false" />
        <activity
            android:name=".ui.insertion_sort"
            android:exported="false" />
        <activity
            android:name=".selection_sort_code"
            android:exported="false" />
        <activity
            android:name=".ui.selectionSort"
            android:exported="false" />
        <activity
            android:name=".bubble_sort_code"
            android:exported="false" />
        <activity
            android:name=".ui.bubbleSort"
            android:exported="false" />
        <activity
            android:name=".ui.sorting_menu"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>